import(Rcpp)
import(methods)
import(rstantools)
import(parallel)
importFrom(haven, read_sas)
importFrom(rstan,sampling, optimizing, extract)

useDynLib(OzoneExposure, .registration = TRUE)

export(readSAS, mungeSAS)
export(stanmodels)
export(fit_McDonnel, fit_Schelegle)
